<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desarrollador.easytour">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- GPS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- >Reconocimiento de la actividad realizada por el usuario (s va caminando, corriendo, auto, bicle)< -->
    <!--
     uses-sdk
     android:minSdkVersion="19"
     android:maxSdkVersion="24"
     android:targetSdkVersion="19"
     /
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Aqui el mapa MALL -->
        <activity android:name=".Lugares" />
        <activity android:name=".Pantalla2" />
        <activity android:name=".Lugares_Cercanos" />
        <activity android:name=".Rutas" />

        <!-- ventana de inicio (Datos para el GPS) -->
        <!-- Ventana para la AgregarMARCADOR -->
        <activity
            android:name=".AddMarcador"
            android:label="@string/app_name" />
        <!--
                 The API key for Google Maps-based APIs is defined as a string resource.
                 (See the file "res/values/google_maps_api.xml").
                 Note that the API key is linked to the encryption key used to sign the APK.
                 You need a different API key for each encryption key, including the release key that is used to
                 sign the APK for publishing.
                 You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTckQQyTV-RSCxPNuFT6AF-lIrJM7WWW0" />

        <!-- Ventana para el mapa -->
        <activity
            android:name=".MapaEncontrado"
            android:label="title_activity_mapa_encontrado" />
        <!-- Ventana para la AgregarRuta -->
        <activity
            android:name=".AddRuta"
            android:label="@string/app_name" />

        <service
            android:name=".DetectedActivitiesIntentService"
            android:exported="false" />

        <activity android:name=".Lista_marcadores" />
        <activity
            android:name=".BaseDatosVisu"
            android:label="@string/title_activity_base_datos_visu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarUbica"
            android:label="ModificarUbica" />
        <activity
            android:name=".Camera"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cercanos"
            android:label="@string/title_activity_cercanos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>